@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Montserrat:wght@100&display=swap");
* {
  font-family: "Montserrat";
}

body {
  margin: 0 auto;
  padding: 0;
}

section.top-page {
  background-image: url("/images/bg.jpg");
  height: 90vh;
  background-size: cover;
}

header.header {
  display: flex;
  align-items: center;
}

header.header img {
  width: 150px;
}

/* menu de navigation */
nav.nav ul {
  display: flex;
  list-style: none;
  justify-content: space-between;
  margin-left: 30px;
  width: 400px;
}

nav.nav li a {
  color: white;
  text-decoration: none;
}

.landing-page {
  padding: 20px 60px;
}

div.landing-page h1.site-title {
  color: white;
  font-weight: 200;
  font-size: 70px;
  font-family: "Abril FatFace";
}

.scroll-down {
  color: white;
  display: flex;
  align-items: center;
  text-decoration: none;
}

.chevron-bas {
  border: 1px solid white;
  height: 7px;
  width: 7px;
  rotate: 45deg;
  border-top: none;
  border-left: none;
  margin-left: 5px;
}

/* services */
.services {
  display: flex;
  justify-content: space-evenly;
  margin: 50px;
}

.service-item {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.delivery-icon {
  font-size: 50px;
  color: #add981;
}

.service-details {
  font-weight: 600;
  width: 200px;
  text-align: center;
}

/* best sells */
.bests-items {
  margin: 100px;
}

.section-title {
  font-size: 50px;
  font-family: "Abril FatFace", cursive;
  font-weight: 100;
  position: relative;
}

.section-title::before {
  content: "";
  position: absolute;
  background-color: #add981;
  width: 50px;
  height: 7px;
  bottom: 0;
}

.best-plants {
  background-color: red;
  min-height: 500px;
  display: flex;
  flex-wrap: wrap;
}

.plant-box {
  position: relative;
  background-size: cover;
  background-position: center;
}

.no-grid {
  min-width: 350px;
  height: 500px;
  flex: 1;
}

.plant1 {
  background-image: url(../images/nos_meilleures_ventes/1.jpg);
}

.plant2 {
  background-image: url(../images/nos_meilleures_ventes/2.jpg);
}

.plant3 {
  background-image: url(../images/nos_meilleures_ventes/3.jpg);
}

.plant4 {
  background-image: url(../images/nos_meilleures_ventes/4.jpg);
}

.plant-details {
  background-color: rgba(255, 255, 255, 0.8745098039);
  position: absolute;
  bottom: 0;
  width: 100%;
  padding: 5px 20px;
}

.plant-name {
  font-size: 22px;
  font-weight: 600;
  line-height: 3px;
}

.plant-price {
  color: #add981;
  font-weight: 800;
  line-height: 3px;
  font-size: 14px;
}

/* nos plantes */
.all-plants {
  margin: 100px;
}

.plant-grid {
  display: grid;
  min-height: 150vh;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(4, 400px);
}

.plant-grid1 {
  background-image: url(../images/nos_plantes/1.jpg);
  grid-column: 1/3;
  grid-row: 1/3;
}

.plant-grid2 {
  background-image: url(../images/nos_plantes/2.jpg);
  grid-column: 3/5;
}

.plant-grid3 {
  background-image: url(../images/nos_plantes/3.jpg);
  grid-column: 3/5;
}

.plant-grid4 {
  background-image: url(../images/nos_plantes/4.jpg);
  grid-column: 1;
  grid-row: 3/5;
}

.plant-grid5 {
  background-image: url(../images/nos_plantes/5.jpg);
  grid-column: 2/4;
  grid-row: 3/5;
}

.plant-grid6 {
  background-image: url(../images/nos_plantes/6.jpg);
  grid-column: 4;
  grid-row: 3/5;
}

/* footer */
footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 20px 100px;
  font-weight: 600;
}

footer a.cgv {
  text-decoration: none;
  color: black;
}/*# sourceMappingURL=style.css.map */